<template>
  <div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component(
{
})
export default class Callback extends Vue {

    mounted()
    {
    this.axios.get('/api/getUser',{withCredentials: true})
        .then(response => {
          this.$store.commit("pushUser", response.data);
          this.$router.push(this.$store.getters.redirectPath);
        })
        .catch(error => {
          console.log(error);
          this.$router.push("/home");
        });
    }
}
</script>

<style scoped lang="scss">

$spotifyColour: #1db954;
$veasuPurple: #6600cc;

</style>
