<template>
  <div id="content" class="h-100 w-100">
    <video-bg :sources="['/BGLoop.webm']" img="/BGLoop.webp">
      <section class="banner d-flex flex-column text-center h-100 justify-content-center">
        <div class="bannerContent">
          <b-row>
            <b-col>
              <div class="title">REDISCOVR</div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div class="sub-title">Automatic Spotify Playlist Backups</div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button class="loginButton" v-on:click="login()">Login with <i class="fab fa-spotify"></i> Spotify</b-button>
            </b-col>
          </b-row>
        </div>
        <b-row class="scrollContent">
          <b-col>
            <div class="arrowContainer">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
            </div>
          </b-col>
        </b-row>
      </section>
    </video-bg>
    <div class="h-100 d-flex flex-column">
      <section class="w-100 infoSection d-flex flex-column justify-content-center align-items-center">
        <b-container class="frontpageContainer">
          <b-row>
            <b-col cols="12" md="6">
              <h3>What is <span class="highlight">Rediscovr</span>?</h3>
              <p>
                Rediscovr is a tool created to automatically archive the playlists created for you by Spotify each week. Why?
                So that you can go back and find that song you can't get out of your head or just so you can keep a record of what spotify recommends. 
                Whatever your use ReDiscovr is here for you.
              </p>
            </b-col>
            <b-col cols="12" md="6">
              <h3>How does <span class="highlight">Rediscovr</span> work?</h3>
              <p>
                There is nothing to it! Just login using your Spotify details using the button above or below and allow the permissions that are requested (these are needed so we 
                can create and see your playlists). Once logged in you can then start customising your Rediscovr experience. You choose your method of backup 
                and then sit back and let Rediscovr do all the work for you.
              </p>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" md="6">
              <h3>Where does <span class="highlight">Rediscovr</span> backup to?</h3>
              <p>
                That's the beauty of Rediscovr, we offer a choice of options for your music backups. You can store your backups on our servers, have us create a brand new playlist 
                every week on your Spotify account, append every song to a playlist of your own choice, or have us add every song to "Your Library" for you to enjoy whenever you want.
              </p>
            </b-col>
            <b-col cols="12" md="6">
              <h3>How do I turn off <span class="highlight">Rediscovr</span>?</h3>
              <p>
                That's easy enough, just head over to your <a href="https://www.spotify.com/us/account/apps/">Spotify account settings</a>, find the Rediscovr app and then hit the 
                revoke access button. This will disable our access to your Spotify playlists and stop all future backups.
              </p>
            </b-col>
          </b-row>
        </b-container>
      </section>
      <section class="w-100 partition ">
        <b-container class="frontpageContainer d-flex flex-column justify-content-center align-items-center">
          <b-row>
            <b-col>
              <b-button class="loginButton" v-on:click="login()">Login with <i class="fab fa-spotify"></i> Spotify</b-button>
            </b-col>
          </b-row>
        </b-container>
      </section>
      <section class="w-100 infoSection d-flex flex-column justify-content-center align-items-center">
        <b-container class="frontpageContainer">
          <b-row>
            <b-col class="text-center" cols="12" md="6">
              <h3 class="pb-3">Who created <span class="highlight">Rediscovr</span>? <br> Is <span class="highlight">Rediscovr</span> Free?</h3>
              <p>
                Rediscovr was created by <a href="https://twitter.com/veasu_">Veasu</a> a software engineer from the UK who most weeks would forget to add the tracks he enjoyed from the multiple 
                spotify playlists he followed. Rediscovr is and always will be free, though we can't guarentee 100% uptime so just keep this in mind :)
              </p>
            </b-col>
            <b-col class="text-center" cols="12" md="6">
              <h3 class="pb-3"><span class="highlight">Rediscovr</span> fell over?<br> Or just want to tell me something?</h3>
              <p>
                Go for it, hit me up on <a href="https://twitter.com/veasu_">twitter</a> and I'll be sure to get back to you at some point. Please be sure to let me know if any error messages were displayed to you, but I will 
                do my best to get everything working smooth as quick as I can.
              </p>
            </b-col>
          </b-row>
        </b-container>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VideoBg from '../components/VideoBackground.vue'
import {BButton} from 'bootstrap-vue'

@Component(
{
    components:{VideoBg, BButton}
})
export default class FrontPage extends Vue {
    login(){
        window.location.href = window.location.origin + "/spotify/auth";
    }
}
</script>

<style scoped lang="scss">
$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

$ani-speed: 2s;
$ani-delay: 1s;

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.VideoBg {
  position: relative;
  width: 100%;
  overflow: hidden;
  height:100vh;
}

video{
  width:100%;
}

.title{
  font-size: 4em;
  color: white;
  line-height: 1.0em;
}

.sub-title{
  font-size: 1.2em;
  color: white;
  padding-bottom: 0.5em;
}

.loginButton{
  font-size: 1.5em;
  color: #191414;
  background-color:$spotifyColour;
  font-weight: 500;
}

$base: 0.6rem;

.bannerContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollContent {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #fff;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

.highlight{
  font-weight: 600;
  color: $veasuPurple;
}

.partition{
  padding-top: 70px;
  padding-bottom: 70px;
  flex: 0 1 auto;
  background-color: $veasuPurple;
}

a{
  font-weight: 600;
  color: $veasuPurple;
  padding-bottom: 1px;
  &:hover{
    text-decoration: none;
    color: $spotifyColour;
    border-bottom: 3px solid $veasuPurple;
  }
}

.infoSection{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $backgroundColor;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .title{
    font-size: 4em;
    color: white;
    line-height: 1.0em;
  }

  .sub-title{
    font-size: 1.2em;
    color: white;
    padding-bottom: 0.5em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .title{
    font-size: 5em;
    color: white;
    line-height: 1.0em;
  }

  .sub-title{
    font-size: 1.3em;
    color: white;
    padding-bottom: 0.5em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .title{
    font-size: 6em;
    color: white;
    line-height: 1.0em;
  }

  .sub-title{
    font-size: 1.4em;
    color: white;
    padding-bottom: 0.5em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .title{
    font-size: 7em;
    color: white;
    line-height: 1.0em;
  }

  .sub-title{
    font-size: 1.5em;
    color: white;
    padding-bottom: 0.5em;
  }
}
</style>
