<template>
  <div id="playlistContent">
    <b-container class="d-flex flex-column ">
        <b-table-lite hover :items="this.backupLogs" :fields="fields">
            <template v-slot:cell(backupTime)="data">
                {{moment.utc(data.item.backupTime).local().format('LLLL')}}
            </template>

            <template v-slot:cell(backupMessage)="data">
                {{data.item.backupMessage ? data.item.backupMessage : "No message with log."}}
            </template>

            <template v-slot:cell(backupSetting)="data">
                {{BackupSetting[data.item.backupSetting].replace("_", " ")}}
            </template>

            <template v-slot:cell(backupType)="data">
                {{BackupType[data.item.backupType]}}
            </template>

            <template v-slot:cell(success)="data">
                <i v-if="data.item.success" class="fas fa-check"></i>
                <i v-else class="fas fa-times"></i>
            </template>
        </b-table-lite>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import PlaylistCard from '../components/PlaylistCard.vue'
import { Route } from 'vue-router';
import {PlaylistInfo, PlaylistTrackItem, BackupLogs, BackupSetting, BackupType} from "../types/helpers"
import moment from 'moment';
import {BTableLite} from 'bootstrap-vue'

@Component(
{
  components: {BTableLite}
})
export default class Logs extends Vue {
    fields = [
        {key:'backupTime',
        label:'Time',
        sortable: true,
        class:"align-middle"},
        {key:'backupMessage', 
        label:'Message',
        class:"align-middle"},
        {key:'backupSetting',
        class:"align-middle"},
        {key:'backupType',
        class:"d-none d-md-table-cell align-middle"},
        {key:'success',
        class:"align-middle"}
    ];

    moment = moment;
    BackupSetting = BackupSetting;
    BackupType = BackupType;
    backupLogs: BackupLogs[] = [];

    private created(){
        this.axios.get('/api/getLogs', {withCredentials: true})
        .then(res => {
            if(res.data.backupLogs)
            {
                this.backupLogs = res.data.backupLogs
            }
        });
    }
}
</script>

<style scoped lang="scss">

$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#username {
  display: block;
}

#playlistContent {
  background-color: #eee;
}

.playlistInfo{
  margin: 20px 0px;
  transition: ease 0.5s;
}

h1 h2{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  letter-spacing: -2.5px;
  margin-left: -4px;
}

h2{
  font-weight: 500;
  font-size: 1em;
}

.table-link{
  font-weight: 600;
  color: black;
  padding-bottom: 1px;
  &:hover{
    text-decoration: none;
    border-bottom: 3px solid $veasuPurple;
  }
}

.table-ele{
  font-weight: 600;
  color: black;
  padding-bottom: 1px;
}

#playlistHeader{
  font-family: 'Montserrat', sans-serif; 
  font-size: 1em;
  font-weight: 700;
} 

.poweredBy{
  font-size: 1em;
  color: #191414;
  background-color: $spotifyColour;
  font-weight: 600;
  transition: 0.5s;
  padding:10px;
  margin-right: auto;
  border-radius: 4px;
}

.table{
  margin-bottom: 0;
  transition: ease 0.5s;
}

i{
  padding-left:2px;
}

#tableContainter{
  margin-left: 10px;
  margin-right: 10px;
}
</style>
