<template>
    <section class="pb-3">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <b-container fluid class="d-flex flex-column ">
        <div id="filters" class="d-flex justify-content-center text-center pt-4">
          <b-row>
            <b-col class="d-flex justify-content-center" cols="12" sm="6">
              <b-form-group label="Filters:" label-class="filtersLabel" label-for="checkbox-group">
                <b-form-checkbox-group id="checkbox-group" v-model="selectedFilters" name="playlists">
                  <b-form-checkbox
                    v-for="(playlistName, index) in storedPlaylistFilters"
                    :value="playlistName"
                    :key="index"
                  >{{playlistName}}</b-form-checkbox>
                </b-form-checkbox-group>
              </b-form-group>
            </b-col>
            <b-col class="d-flex justify-content-center" cols="12" sm="6">
              <b-form-group label="Sort:" label-class="filtersLabel" label-for="checkbox-group">
                <b-form-radio-group id="radio-group" v-model="selectedSort" name="playlists" >
                  <b-form-radio :value="0">By Date <i class="fas fa-arrow-up"></i></b-form-radio>
                  <b-form-radio :value="1">By Name <i class="fas fa-arrow-up"></i></b-form-radio>
                  <b-form-radio :value="2">By Date <i class="fas fa-arrow-down"></i></b-form-radio>
                  <b-form-radio :value="3">By Name <i class="fas fa-arrow-down"></i></b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
        <transition-group @before-leave="beforeLeave" id="playlistsContainer" name="list">
            <playlistCard v-for="(playlist, index) in storedPlaylistsFiltered" v-bind:playlistName="playlist.playlistName" v-bind:playlistId="index" v-bind:imgURL="playlist.playlistImage" v-bind:key="playlist.playlistDate"></playlistCard> 
        </transition-group>
      </b-container>
    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import PlaylistCard from '../components/PlaylistCard.vue'
import {PlaylistTrackItem, ArtistItem, PlaylistToBackup, PlaylistInfo} from '../types/helpers'
import {BFormGroup, BFormRadioGroup, BFormRadio, BFormCheckboxGroup, BFormCheckbox, BForm} from 'bootstrap-vue'

@Component(
{
    components:{PlaylistCard, BFormGroup, BFormRadioGroup, BFormCheckboxGroup, BFormRadio, BFormCheckbox}
})
export default class Playlists extends Vue {

  selectedFilters: string[] = []
  selectedSort = 0;

  sortsAvailable = [
    {text: 'By Date', value: 0},
    {text: 'By Name <i class="fas fa-arrow-up"></i>', value: 1},
    {text: 'By Date <i class="fas fa-arrow-down"></i>', value: 2},
    {text: 'By Name <i class="fas fa-arrow-down"></i>', value: 3}
  ]

  sortFunctions: ((a: PlaylistInfo, b: PlaylistInfo) => number)[] = [];

  sortByDateAsc(a: PlaylistInfo, b: PlaylistInfo): number
  {
    return a.playlistDate! - b.playlistDate!;
  }

  sortByNameAsc(a: PlaylistInfo, b: PlaylistInfo)
  {
    return Number(a.playlistName! > b.playlistName!);
  }

  sortByDateDesc(a: PlaylistInfo, b: PlaylistInfo): number
  {
    return b.playlistDate! - a.playlistDate!;
  }

  sortByNameDesc(a: PlaylistInfo, b: PlaylistInfo)
  {
    return Number(a.playlistName! < b.playlistName!);
  }

  beforeLeave(el: HTMLElement) { 
    const {marginLeft, marginTop, width, height} = window.getComputedStyle(el)
    el.style.left = `${el.offsetLeft}px`
    el.style.top = `${el.offsetTop - parseFloat(marginTop)}px`
    el.style.width = width
    el.style.height = height
  }

  private created() {
    this.sortFunctions.push(this.sortByDateAsc);
    this.sortFunctions.push(this.sortByNameAsc);
    this.sortFunctions.push(this.sortByDateDesc);
    this.sortFunctions.push(this.sortByNameDesc);
    this.axios.get('/api/getUser',{withCredentials: true})
    .then(response => {
      if(response.data.redirect)
      {
        this.$router.push("/")
      }
      this.$store.commit("pushUser", response.data);
      this.selectedFilters = (this.$store.getters.backups as PlaylistInfo[]).map(playlist => playlist.playlistName).filter((item, i, ar) => ar.indexOf(item) === i)
      if(response.data.playlists.length == 0)
      {
        this.$router.push("/profile/settings");
      }
      else if(response.data.backups.length == 0)
      {
        this.makeToast(
          "You don't have any playlists backed up. Head to the settings page to force a backup!",
          "No Backups Found!", 
          'warning'
        );
      }
    })
    .catch(e => {
      console.log(e);
    })
  }

  private get storedPlaylistsFiltered(){
    console.log(this.selectedFilters);
    return (this.$store.getters.backups as PlaylistInfo[]).filter(playlist =>  this.selectedFilters.some(filter => filter == playlist.playlistName)).sort(this.sortFunctions[this.selectedSort]);
  }

  private get storedPlaylistFilters(){
    return (this.$store.getters.backups as PlaylistInfo[]).map(playlist => playlist.playlistName).filter((item, i, ar) => ar.indexOf(item) === i);
  }

  private get storedPlaylists(){
    return this.$store.getters.backups;
  }

  private millisToMinutesAndSeconds(millis: number) {
      const minutes = Math.floor(millis / 60000);
      const seconds = ((millis % 60000) / 1000).toFixed(0);
      return (Number.parseInt(seconds) == 60 ? (minutes+1) + ":00" : minutes + ":" + (Number.parseInt(seconds) < 10 ? "0" : "") + seconds);
  }

  private makeToast(message: string, title: string, variant?: string) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
        autoHideDelay: 5000,
        appendToast: true,
        toaster: "b-toaster-top-center",
      });
  }
}
</script>

<style lang="scss" scoped>
$backgroundColor: #eee;

section{
    background-color: #eee;
}

#playlistsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}

.playlistCard {
  padding-top: 0.5em;
  text-align:center;
}

.list-enter-active, .list-move {
  transition: all 0.5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
.list-leave-active {
  pointer-events: none;
  position: absolute !important;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  #playlistsContainer {
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
  }
}

</style>

<style lang="scss">
.filtersLabel{
  font-size: 1.2em;
  font-weight: 500;
}

$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

.custom-checkbox {
  border: $veasuPurple;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $veasuPurple !important;
  border: #6600cc;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox
  .custom-control-input:checked:hover
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(100, 100, 100, 0.5);
  border: #6600cc;
}
.custom-checkbox .custom-control-input:hover ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(128, 0, 255, 0.5);
  border: #6600cc;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: $veasuPurple;
  border: #6600cc;
}

.custom-radio {
  border: $veasuPurple;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $veasuPurple !important;
  border: #6600cc;
}

.custom-radio
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-radio
  .custom-control-input:checked:hover
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(100, 100, 100, 0.5);
  border: #6600cc;
}
.custom-radio .custom-control-input:hover ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(128, 0, 255, 0.5);
  border: #6600cc;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  background-color: $veasuPurple;
  border: #6600cc;
}
</style>