<template>
  <div id="playlistContent">
    <b-container class="d-flex flex-column ">
      <b-row align-h="center" class="playlistInfo align-items-center">
        <b-col :sm="12" :md="6" :lg="4" id="playlistImageDiv">
         <b-img fluid class="playlistImg" :src="this.currentPlaylist.playlistImage" :alt="this.currentPlaylist.playlistName + 'Image'"></b-img>
        </b-col>
        <b-col :sm="12" :md="6" :lg="8">
          <b-row class="d-flex flex-column">
            <b-col>
              <div id="playlistHeader">Playlist</div>
            </b-col>
          </b-row>
          <b-row class="d-flex flex-column">
            <b-col>
              <h1>{{this.currentPlaylist.playlistName}}</h1>
            </b-col>
          </b-row>
          <b-row class="d-flex flex-column">
            <b-col>
              <h2>{{this.currentPlaylist.playlistDesc}}</h2>
            </b-col>
          </b-row>
          <b-row class="d-flex flex-column">
            <b-col>
              <h2>{{currentPlaylistDate}}</h2>
            </b-col>
          </b-row>
          <div class="d-flex flex-column poweredByContainer">
            <div class="poweredBy text-center mt-3">Powered By <i class="fab fa-spotify"></i> Spotify</div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <div id="tableContainter">
      <b-table-lite hover :items="this.currentPlaylistTracks" :fields="fields">
        <template v-slot:cell(index)="data">
          <div class="table-ele">{{ data.index+1 }}</div>
        </template>

        <template v-slot:cell(track)="data">
          <a class="table-link" :href="data.value.trackURI" :title="data.value.trackName" v-if="data.value.trackName.length > 50">{{ data.value.trackName.slice(0,50) + "..." }}</a>
          <a class="table-link" :href="data.value.trackURI" :title="data.value.trackName" v-else>{{data.value.trackName}}</a>
          <b-badge class="align-middle d-none d-lg-block float-right" v-if="data.value.explicit" variant="danger">Explicit</b-badge>
          <b-badge class="align-middle d-lg-none float-right" v-if="data.value.explicit" variant="danger">E</b-badge>
        </template>

        <template v-slot:cell(artist)="data">
          <span v-for="(artist, index) in data.value" v-bind:key="index">
            <a class="table-link" :href="artist.artistURI" :title="artist.artistName">{{artist.artistName}}</a><span v-if="index+1 < data.value.length">, </span>
          </span>
        </template>

        <template v-slot:cell(album)="data">
          <a class="table-link" :href="data.value.albumURI" :title="data.value.albumName" v-if="data.value.albumName.length > 20">{{ data.value.albumName.slice(0,20) + "..." }}</a>
          <a class="table-link" :href="data.value.albumURI" :title="data.value.albumName" v-else>{{data.value.albumName}}</a>
        </template>

        <template v-slot:cell(duration)="data">
          <div class="table-ele">{{ data.value }}</div>
        </template>
      </b-table-lite>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import PlaylistCard from '../components/PlaylistCard.vue'
import { Route } from 'vue-router';
import {PlaylistInfo, PlaylistTrackItem} from "../types/helpers"
import moment from 'moment';
import {BTableLite, BImg, BBadge} from 'bootstrap-vue'

@Component(
{
  components: {BTableLite, BImg, BBadge}
})
export default class Playlist extends Vue {

    fields = [
              {key:'index',
              label:'Track',
              class:"d-none d-md-table-cell"},
              {key:'track', 
              label:'Title',
              class:"align-middle",
              sortable: true},
              {key:'artist',
              sortable: true},
              {key:'album',
              sortable: true,
              class:"d-none d-md-table-cell"},
              {key:'duration',
              sortable: true,
              class:"d-none d-md-table-cell"}
              ];

    private capitalizeFirstLetter(string: string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    private created(){
      this.$store.commit("pushOnPlaylist", true);
    }

    private destroyed()
    {
      this.$store.commit("pushOnPlaylist", false);
    }

    private get currentPlaylist(): PlaylistInfo
    {
        return this.$store.getters.currentPlaylist;
    }

    private get currentPlaylistTracks(): PlaylistTrackItem[]
    {
        return this.$store.getters.currentPlaylistTracks;
    }

    private get currentPlaylistDate(): string
    {
        if(this.$store.getters.currentPlaylist.playlistDate)
          return moment.utc(this.$store.getters.currentPlaylist.playlistDate).local().format('ddd Do MMM YYYY')
        else{
          return "Unknown Date"
        }
    }



}
</script>

<style scoped lang="scss">

$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#username {
  display: block;
}

#playlistContent {
  background-color: #eee;
}

.playlistInfo{
  margin: 20px 0px;
  transition: ease 0.5s;
}

h1 h2{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  letter-spacing: -2.5px;
  margin-left: -4px;
}

h2{
  font-weight: 500;
  font-size: 1em;
}

.table-link{
  font-weight: 600;
  color: black;
  padding-bottom: 1px;
  &:hover{
    text-decoration: none;
    border-bottom: 3px solid $veasuPurple;
  }
}

.table-ele{
  font-weight: 600;
  color: black;
  padding-bottom: 1px;
}

#playlistHeader{
  font-family: 'Montserrat', sans-serif; 
  font-size: 1em;
  font-weight: 700;
} 

.poweredBy{
  font-size: 1em;
  color: #191414;
  background-color: $spotifyColour;
  font-weight: 600;
  transition: 0.5s;
  padding:10px;
  margin-right: auto;
  border-radius: 4px;
}

.table{
  margin-bottom: 0;
  transition: ease 0.5s;
}

i{
  padding-left:2px;
}

#tableContainter{
  margin-left: 10px;
  margin-right: 10px;
}
</style>
