<template>
  <div id="profileSettingContent" class="h-100 w-100">
    <b-container class="h-100 w-100">
      <b-row class="h-100 align-items-center">
        <b-col>
          <b-card class="mt-2 mb-2">

            <template v-slot:header>
              <div class="cardHeading">Profile Settings</div>
            </template>

            <div class="playlistSettings">
              <b-row>
                <b-col>
                  <div class="cardSubheading pb-3">Playlist Settings</div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-alert :show="noPlaylists" variant="danger" dismissible fade @dismissed="noPlaylists=false">
                    <strong>You must select playlists to backup before you save your settings.</strong>
                  </b-alert>
                </b-col>
              </b-row>
              <b-row>
                <b-col class="d-flex" cols="8">
                  <b-form-group label="Playlists To Backup:">
                    <b-form-checkbox-group id="checkbox-group" v-model="selected" name="playlists">
                      <b-form-checkbox
                        v-for="playlist in playlists"
                        :value="playlist.playlistId"
                        :key="playlist.playlistId"
                        switch
                      >{{playlist.playlistName}}</b-form-checkbox>
                    </b-form-checkbox-group>
                  </b-form-group>
                </b-col>
                <b-col class="d-flex align-items-center justify-content-end" cols="4">
                  <div
                    class="playlistButton text-center"
                    @click="forceUpdatePlaylists()"
                  >Force Refresh</div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <div
                    class="playlistExplanation"
                  >Can't see the playlist you're looking for? Make sure you're following it and then hit the force refresh button!</div>
                </b-col>
              </b-row>
            </div>
            <hr />
            <div class="backupSettings">
              <b-row>
                <b-col>
                  <div class="cardSubheading pb-3">Backup Settings</div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <div class="optionSubheading pb-3">Backup Settings</div>
                </b-col>
              </b-row>
              <b-row>
                <b-col class="d-flex align-items-center" cols="12" sm="auto">
                  <b-form-group label="Select A Backup Method:">
                    <b-form-select
                      v-model="backupSelection"
                      :options="options"
                      :state="formValid"
                      aria-describedby="input-2-live-feedback"
                    >
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                      </template>
                    </b-form-select>
                    <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col
                  v-if="backupSelection == backupSettings.LOCAL"
                  class="d-flex align-items-center"
                  cols="12"
                  lg="8"
                >Your playlists will be backed up on our own servers. This will be done once a week at the shown time above, but there is no guarentee of 100% uptime.</b-col>

                <b-col
                  v-if="backupSelection == backupSettings.NEW_PLAYLIST"
                  class="d-flex align-items-center"
                  cols="12"
                  lg="8"
                >
                  Your playlists will be backed up using your own Spotify account. Every week we will create a new playlist following the naming
                  format of "Playlist Name (Week X Year XXXX)" e.g. Discover Weekly (Week 5 Year 2020)
                </b-col>

                <b-col
                  v-if="backupSelection == backupSettings.APPEND_PLAYLIST"
                  class="d-flex align-items-center mt-3"
                  cols="12"
                  lg="4"
                >
                  Your playlists will be backed up using your own Spotify account. Every week we will append your playlists songs to a playlist of your
                  choosing keeping everything neat and tidy in one place.
                </b-col>

                <b-col
                  v-if="backupSelection == backupSettings.APPEND_PLAYLIST"
                  class="d-flex align-items-center mt-3"
                  cols="12"
                  lg="4"
                >
                  <b-form-group label="Playlist to append to:">
                    <b-form-select
                      v-model="appendPlaylistSelection"
                      :state="formValid"
                      aria-describedby="input-3-live-feedback"
                    >
                      <b-form-select-option
                        v-for="playlist in allPlaylists"
                        :key="playlist.playlistId"
                        :value="playlist.playlistId"
                      >{{playlist.playlistName}}</b-form-select-option>
                    </b-form-select>
                    <b-form-invalid-feedback id="input-3-live-feedback">This is a required field.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col
                  v-if="backupSelection == backupSettings.ADD_TO_LIBRARY"
                  class="d-flex align-items-center"
                  cols="12"
                  lg="8"
                >
                  Your playlists will be backed up using your own Spotify account. Every week we will add each of the songs to "Your Library" under Liked Songs keeping
                  all of your new tracks in one place without having to create new playlists.
                </b-col>

                <b-col
                  v-if="backupSelection == backupSettings.NO_BACKUP"
                  class="d-flex d-flex align-items-center"
                  cols="12"
                  lg="8"
                >Your playlists will not be backed up at all. Sometimes you need a break from all the new music, we understand.</b-col>
              </b-row>
            </div>
            <div class="saveSettings">
              <b-row class="pt-3 pb-2">
                <b-col class="d-flex align-items-center justify-content-end">
                  <div @click="forceBackup()" class="playlistButton text-center mr-1">Save & Force Backup</div>
                  <div @click="saveSettings()" class="playlistButton text-center ml-1">Save Settings</div>
                </b-col>
              </b-row>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from "vue-property-decorator";
import { PlaylistToBackup, BackupSetting } from "../types/helpers";
import {BFormGroup, BFormCheckboxGroup, BFormCheckbox, BAlert, BFormSelect, BCard, BFormSelectOption, BFormInvalidFeedback, ToastPlugin, BToaster} from 'bootstrap-vue'

Vue.use(ToastPlugin)

@Component({
  components:{BFormGroup, BFormCheckboxGroup, BFormCheckbox, BAlert, BFormSelect, BCard, BFormSelectOption, BFormInvalidFeedback, BToaster}
})
export default class ProfileSettings extends Vue {
  selected: string[] = [];
  playlists: PlaylistToBackup[] = [];
  allPlaylists: PlaylistToBackup[] = [];

  backupSelection: BackupSetting | null = null;
  appendPlaylistSelection: string | null = null;

  showDismissibleAlert = false;
  playlistAlertStyle = "danger";

  formValid: boolean | null = null;
  noPlaylists = false;

  public backupSettings = BackupSetting;

  options = [
    { value: BackupSetting.LOCAL, text: "Backup on Rediscovr" },
    { value: BackupSetting.NEW_PLAYLIST, text: "Create New Playlist" },
    { value: BackupSetting.APPEND_PLAYLIST, text: "Append To Playlist" },
    { value: BackupSetting.ADD_TO_LIBRARY, text: "Add to Your Library" },
    { value: BackupSetting.NO_BACKUP, text: "Do not backup my playlists" },
  ];

  @Watch("backupSelection")
  onPropertyChanged(value: BackupSetting) {
    if (value == BackupSetting.APPEND_PLAYLIST && this.allPlaylists.length == 0) {
      this.populatePlaylists();
    }
  }

  private validateForm() {
    if (this.backupSelection == null) {
      this.formValid = false;
      return false;
    }
    else if (this.selected.length == 0)
    {
      this.noPlaylists = true;
      return false;
    }
    else {
      this.noPlaylists = false;
      if (this.backupSelection == 2 && this.appendPlaylistSelection == null)
      {
        this.formValid = false;
        return false;
      }
      else{
        this.formValid = null;
        return true;
      }
    }
  }

  private async created() {
    this.forceUpdatePlaylists();
    this.backupSelection = this.$store.getters.backupSetting;
    if(this.backupSelection == undefined)
    {
      this.backupSelection=null;
    }
    if (this.backupSelection == BackupSetting.APPEND_PLAYLIST) {
      this.populatePlaylists();
      this.appendPlaylistSelection =
        this.$store.getters.backupPlaylistId || null;
    }
  }

  private populatePlaylists() {
    this.axios.post("/api/getUserPlaylists", {} , {withCredentials: true})
    .then(res => {
      res.data.playlists.forEach((playlist: PlaylistToBackup) => {
        this.allPlaylists.push({
          playlistId: playlist.playlistId,
          playlistName: playlist.playlistName,
          playlistDesc: (playlist.playlistDesc || ""),
          playlistURI: playlist.playlistURI
        });
      })
    })
    .catch(e => {
      console.log(e);
      this.makeToast(
        "An Error Has Occured.\n" + e,
        "Error Getting Your Settings!",
        "danger"
      );
    })
  }

  private forceUpdatePlaylists() {
    this.axios.post("/api/getUserPlaylists", {playlistOwner: 'spotify'}, {withCredentials: true})
    .then(res => {
      this.playlists = res.data.playlists;
      const serverPlaylists: PlaylistToBackup[] = this.$store.getters.playlists;
        for (const playlist in serverPlaylists) {
          this.selected.push(serverPlaylists[playlist].playlistId);
          if (!this.playlists.some((el) => el.playlistId === serverPlaylists[playlist].playlistId)) 
          {
            this.playlists.push({
              playlistName: serverPlaylists[playlist].playlistName,
              playlistId: serverPlaylists[playlist].playlistId,
              playlistDesc: (serverPlaylists[playlist].playlistDesc || ""),
              playlistURI: serverPlaylists[playlist].playlistURI
            });
          }
        }
    })
    .catch(e => {
      console.log(e);
      this.makeToast(
        "An Error Has Occured.\n" + e,
        "Error Getting Your Settings!",
        "danger"
      );
    })
  }
  private saveSettings() {

    if (this.validateForm()) {
      const playlistsToBackup: PlaylistToBackup[] = [];
      for (const x in this.playlists) {
        if (this.selected.some((el) => this.playlists[x].playlistId == el)) {
          playlistsToBackup.push(this.playlists[x]);
        }
      }

      this.axios.post("/api/saveSettings",
          {
            playlists: playlistsToBackup,
            backupSetting: this.backupSelection,
            ...(this.backupSelection == BackupSetting.APPEND_PLAYLIST && {backupPlaylistId: this.appendPlaylistSelection}),
          },
          { withCredentials: true }
        )
        .then((res) => {
          this.$store.commit("pushPlaylistsToBackup", playlistsToBackup);
          this.$store.commit("pushBackupSetting", this.backupSelection);
          if (this.backupSelection == BackupSetting.APPEND_PLAYLIST) {
            this.$store.commit(
              "pushBackupPlaylistId",
              this.appendPlaylistSelection
            );
          }
          this.makeToast(
            "Settings have been saved!",
            "Save Successful",
            "success"
          );
        })
        .catch((err) => {
          console.log(err);
          this.makeToast(
            "Settings have not been saved.\n" + err,
            "Save Unsuccessful",
            "danger"
          );
        });
    }
  }

  private forceBackup()
  {
    if (this.validateForm()) {
      const playlistsToBackup: PlaylistToBackup[] = [];
      for (const x in this.playlists) {
        if (this.selected.some((el) => this.playlists[x].playlistId == el)) {
          playlistsToBackup.push(this.playlists[x]);
        }
      }

      this.axios.post("/api/saveSettings",
          {
            playlists: playlistsToBackup,
            backupSetting: this.backupSelection,
            ...(this.backupSelection == BackupSetting.APPEND_PLAYLIST && {backupPlaylistId: this.appendPlaylistSelection}),
          },
          { withCredentials: true }
        )
        .then((res) => {
          this.$store.commit("pushPlaylistsToBackup", playlistsToBackup);
          this.$store.commit("pushBackupSetting", this.backupSelection);
          if (this.backupSelection == BackupSetting.APPEND_PLAYLIST) {
            this.$store.commit(
              "pushBackupPlaylistId",
              this.appendPlaylistSelection
            );
          }


          this.axios.get("/api/forceBackup", { withCredentials: true })
          .then(result => {
            if(!result.data.error)
            {
              this.$store.commit("pushPlaylists", result.data.backups)
              this.makeToast(
                "Settings and Backups have been saved!",
                "Save Successful",
                "success"
              );
            }
            else{
              this.makeToast(
                 result.data.error,
                "Save Unsuccessful",
                "warning"
              );
            }
          })
        })
        .catch((err) => {
          console.log(err);
          this.makeToast(
            "Settings have not been saved.\n" + err,
            "Save Unsuccessful",
            "danger"
          );
        });
    }
  }

  private makeToast(message: string, title: string, variant?: string) {
    this.$bvToast.toast(message, {
      title: title,
      variant: variant,
      solid: true,
      autoHideDelay: 5000,
      appendToast: true,
      toaster: "b-toaster-top-center",
    });
  }
}
</script>

<style scoped lang="scss">
$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

#profileSettingContent {
  background-color: $backgroundColor;
}

.cardHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
}

.cardSubheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}

.optionSubheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

.playlistButton {
  font-size: 1em;
  color: white;
  background-color: $veasuPurple;
  font-weight: 600;
  transition: 0.5s;
  padding: 10px;
  max-width: 200px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #440088;
    color: white;
  }
}
</style>

<style lang="scss">
$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

.custom-checkbox {
  border: $veasuPurple;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $veasuPurple !important;
  border: #6600cc;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox
  .custom-control-input:checked:hover
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(100, 100, 100, 0.5);
  border: #6600cc;
}
.custom-checkbox .custom-control-input:hover ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(128, 0, 255, 0.5);
  border: #6600cc;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: $veasuPurple;
  border: #6600cc;
}

.custom-radio {
  border: $veasuPurple;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $veasuPurple !important;
  border: #6600cc;
}

.custom-radio
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-radio
  .custom-control-input:checked:hover
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(100, 100, 100, 0.5);
  border: #6600cc;
}
.custom-radio .custom-control-input:hover ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 3px rgba(128, 0, 255, 0.5);
  border: #6600cc;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  background-color: $veasuPurple;
  border: #6600cc;
}
</style>