<template>
  <div id="profileContent" class="w-100 h-100 d-flex flex-column">
    <Navbar v-bind:userName="userName"></Navbar>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '../components/Navbar.vue'
import {BToast, BToaster} from 'bootstrap-vue'

@Component(
{
    components:{Navbar, BToast, BToaster}
})
export default class Profile extends Vue {

  private get userName() {
    return (this.$store.getters.usernameUpper || "")
  }

  private makeToast(message: string, title: string, variant?: string) {
    this.$bvToast.toast(message, {
      title: title,
      variant: variant,
      solid: true,
      autoHideDelay: 5000,
      appendToast: true,
      toaster: "b-toaster-top-center",
    });
  }

}
</script>

<style scoped lang="scss">

$spotifyColour: #1db954;
$veasuPurple: #6600cc;
$backgroundColor: #eee;

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#username {
  display: block;
}

#profileContent {
  background-color: $backgroundColor;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 10.0em;
  color: white;
  line-height: 1.0em;
}

.sub-title{
  font-size: 2.0em;
  color: white;
  padding-bottom: 0.5em;
}


.main{
    color: white;
    background-color: $backgroundColor;
    padding-bottom: 2.5em;
}

.main h1{
  font-weight: 400;
  font-size: 2.5em;
}

.main p{
  font-weight: 300;
  font-size: 1.5em;
}

#playlistsContainer {
  margin-left: 5em;
  margin-right: 5em;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}

.playlistCard {
  padding-top: 0.5em;
  text-align:center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
  background-color: $backgroundColor;
}
</style>
