<template>
    <div class="w-100">
        <b-navbar class="w-100" toggleable="lg" type="dark">
            <div @click="clicked()" v-bind:class="[isPlaylist ? 'inPlaylistButton' : 'outPlaylistButton', 'position-relative']" class="backButton mr-3"> <i class="fas fa-arrow-left"></i></div>
          <b-navbar-brand  v-bind:class="[isPlaylist ? 'inPlaylistTitle' : 'outPlaylistTitle', 'position-relative']" @click="clicked()" id="navHeading">
              Rediscovr
          </b-navbar-brand>
          <b-nav-item-dropdown class="ml-auto dropDown" toggle-class="userDropdown" :text="this.userName" right>
              <b-dropdown-item :to="{ path: '/profile/playlists' }">Playlists</b-dropdown-item>
              <b-dropdown-item :to="{ path: '/profile/settings' }">Settings</b-dropdown-item>
              <b-dropdown-item :to="{ path: '/profile/logs' }">Backup Logs</b-dropdown-item>
              <b-dropdown-divider/>
              <b-dropdown-item class="logoutLink" @click="logout()">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import {BNavbar, BNavbarBrand, BNavItemDropdown, BDropdownItem, BDropdownDivider} from 'bootstrap-vue'

@Component(
{
  components: {BNavbar, BNavbarBrand, BNavItemDropdown, BDropdownItem, BDropdownDivider}
})
export default class Navbar extends Vue {
    @Prop(String) userName!: string

    isHidden = false;

    private clicked()
    {
      this.$router.push("/profile/playlists")
    }

    private logout()
    {
      this.axios.get("/api/logout", {withCredentials: true})
      .then(response => {
        console.log(response.data);
        if(response.data.success)
        {
          this.$router.push("/home")
        }
      })
    }

    private onTransition()
    {
      console.log("Memes");
      if (this.isPlaylist)
      {
        this.isHidden = false;
      }
      else
      {
        this.isHidden = true;
      }
    }

    private get isPlaylist() {
      return this.$store.getters.onPlaylist
    }
}
</script>

<style scoped lang="scss">

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

*{
      font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: #282828;
}

.backButton{
  position: absolute !important;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #eee;
  transition: ease 0.5s;
  outline: 0;
  &:hover{
    color: #6600cc;
    cursor: pointer;
  }
}

.inPlaylistButton{
  left:20px;
}

.outPlaylistButton{
  left:-60px;
}

.inPlaylistTitle{
  left:50px;
}

.outPlaylistTitle{
  left:0px;
}

#navHeading{
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: #eee;
    transition: ease 0.5s;
    outline: 0;
    &:hover{
      color: #6600cc;
      cursor: pointer;
    }
}

.dropDown{
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

</style>

<style lang="scss">
  .dropdown-item{
    font-weight: 500 !important;
    font-size: 1.2rem;
    &:active{
      background-color: #6600cc !important;
      color: white !important;
    }
  }

  .logoutLink a{
    color: rgb(158, 0, 0);
  }

  .userDropdown{
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    transition: ease 0.5s;
    padding: 0 !important;
    &:hover{
      color: #6600cc;
    }
    &:after{
      transition: ease 0.5s;
      color: #6600cc;
    }
    &:hover:after{
      transform: rotate(90deg);
    }
  }
</style>
