<template>
    <div v-on:click="clicked()" class="playlistCard">
      <img :src="imgURL" style="width:100%">
      <div class = "playlistCardContainer">
        <h2>{{playlistName}}</h2>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component(
{
})
export default class PlaylistCard extends Vue {
    @Prop(String) playlistName!: string
    @Prop(Number) playlistId!: number
    @Prop(String) imgURL!: string

    clicked(){
      this.$store.commit("pushCurrentPlaylistId", this.playlistId);
      this.$router.push("/profile/playlist")
    }
}
</script>

<style scoped lang="scss">

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

img {
  padding-top: 0.5em;
}

h2{
  margin: 10px;
  color: #eee;
  word-spacing: 150px; 
}

.playlistCard {
  width: 150px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  background-color: #282828;
  transition: 0.15s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  &:hover{
    box-shadow: 0 4px 8px 2px rgba(102, 0, 204, 0.884);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .playlistCard {
    width: 200px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    background-color: #282828;
    transition: 0.15s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    &:hover{
      box-shadow: 0 4px 8px 2px rgba(102, 0, 204, 0.884);
    }
  }

  h2{
    margin: 10px;
    color: #eee;
    word-spacing: normal; 
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .playlistCard {
    width: 250px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    background-color: #282828;
    transition: 0.15s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    &:hover{
      box-shadow: 0 4px 8px 2px rgba(102, 0, 204, 0.884);
    }
  }

    h2{
    margin: 10px;
    color: #eee;
    word-spacing: normal; 
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .playlistCard {
    width: 300px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    background-color: #282828;
    transition: 0.15s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    &:hover{
      box-shadow: 0 4px 8px 2px rgba(102, 0, 204, 0.884);
    }
  }

    h2{
    margin: 10px;
    color: #eee;
    word-spacing: normal; 
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .playlistCard {
    width: 300px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    background-color: #282828;
    transition: 0.15s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    &:hover{
      box-shadow: 0 4px 8px 2px rgba(102, 0, 204, 0.884);
    }
  }

  h2{
    margin: 10px;
    color: #eee;
    word-spacing: normal; 
  }
}
</style>